.logoutBt {
    padding: 1rem;
    background-color: var(--red);
    border-radius: 1rem;
    position: absolute;
    right: 5rem;
    top: 1.6rem;
    font-size: var(--font-16);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.homeBt {
    padding: 1rem;
    background-color: var(--red);
    border-radius: 1rem;
    position: absolute;
    right: 12rem;
    top: 1.6rem;
    font-size: var(--font-16);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.AdminDashboardBt {
    padding: 1rem;
    background-color: var(--yellow);
    border-radius: 1rem;
    position: absolute;
    left: 5rem;
    top: 1.6rem;
    font-size: var(--font-16);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.MyProfileHeader {
    font-size: var(--font-29);
    font-weight: 600;
    text-align: center;
    margin-top: 10rem;
}

.profileactionsContainer {
    max-width: 1000px;
    padding: 2rem 5rem;
    border: 1px solid var(--black);
    margin: 5rem auto 0 auto;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.userDataContainer {
    max-width: 800px;
    padding: 5rem;
    border: 1px solid var(--black);
    margin: 0 auto 0 auto;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.userActionsContainer {
    max-width: 800px;
    padding: 5rem;
    border: 1px solid var(--black);
    margin: 0 auto 0 auto;
    border-radius: 2rem;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.UserActionsBt {
    padding: 1rem;
    background-color: var(--yellow);
    border-radius: 1rem;
    font-size: var(--font-16);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

@media (min-width:0em) and (max-width:766px) {
    .profileactionsContainer {
        padding: 2rem 1rem;
    }
    .userDataContainer {
        max-width: 350px;
    }
    .userActionsContainer {
        max-width: 350px;
        justify-content: center;
    }
}